/* Conexion de header */
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

header {
  background-color: rgba(253, 190, 190, 0.603);
}
@media only screen and (max-width: 768px) {
  header {
    background-color: gold;
    padding: 20px 40px;
  }
}
header nav {
  display: flex;
}
@media only screen and (max-width: 768px) {
  header nav {
    background-color: gold;
    padding: 20px 40px;
  }
}
header nav div .collapse {
  padding: 0px 20px;
  display: flex;
  width: webkit-fill-available;
  align-items: center;
  justify-content: space-around;
}
header nav div .collapse li {
  margin: 20px;
  display: flex;
  display: inline-block;
}
header nav div .collapse li .nav-link {
  margin: 5px;
  color: black;
}

.img-uno-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative;
  background-image: url(/imag-png/depilacion\ laser-chicas.jpg);
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .img-uno-1 {
    background-color: gold;
    padding: 20px 40px;
  }
}
.img-uno-1 h2 {
  padding: 100px;
}
@media only screen and (max-width: 768px) {
  .img-uno-1 h2 {
    background-color: gold;
    padding: 20px 40px;
  }
}
.img-uno-1 h2 .texto-interior {
  font-weight: bold;
  color: black;
  font-size: 2rem;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%;
}

h3 {
  text-align: center;
}

.text-img- {
  display: grid;
}
.text-img- .Titulo {
  display: flex;
  justify-content: center;
}

.text-p- {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  margin: 0 0 24px 0;
  padding: 20px;
  color: black;
  width: 100%;
}

.contd-grid {
  display: grid;
}
.contd-grid .contd-flex {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.contd-grid .contd-flex .tex-p- {
  max-width: 20%;
  padding-top: 55px;
  margin-left: 15px;
  box-shadow: 1px 1px 1px rgb(206, 132, 132);
  transition: all 400ms ease;
}

.img-blog {
  box-shadow: 0px 1px 10px rgb(206, 132, 132);
  transition: all 400ms ease;
  background: #FFF;
}

footer {
  display: flex;
}
footer .container {
  background-color: rgba(253, 190, 190, 0.603);
  height: 100%;
  padding: 50px 20px;
  display: flex;
  max-width: none;
}
footer .container .redes-sociales {
  display: flex;
  margin: 8px;
}
footer .container .redes-sociales a {
  color: black;
  text-decoration: none;
}

.contenedor-1 {
  background-color: rgb(216, 216, 216);
  margin: 15px;
  display: flex;
}
.contenedor-1 .mapa {
  width: 100%;
  padding: 20px;
}

* {
  margin: 0;
}

.img-uno-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative;
  background-image: url(/imag-png/depilacion\ laser-chicas.jpg);
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .img-uno-1 {
    background-color: gold;
    padding: 20px 40px;
  }
}
.img-uno-1 h2 {
  padding: 100px;
}
@media only screen and (max-width: 768px) {
  .img-uno-1 h2 {
    background-color: gold;
    padding: 20px 40px;
  }
}
.img-uno-1 h2 .texto-interior {
  font-weight: bold;
  color: black;
  font-size: 2rem;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%;
}

.caja-grid {
  display: grid;
}
.caja-grid .caja-3- {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.card {
  border: 1px solid rgb(105, 105, 105);
  box-shadow: 1px 1px 10px rgb(206, 132, 132);
  transition: all 400ms ease;
}
.card .btn {
  margin-left: 4.2rem;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-3%);
}

.tex-p- {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.tex-p- .tex-p-2 {
  max-width: 70%;
}

.caja-turnos- {
  display: grid;
  padding-top: 6rem;
}
.caja-turnos- .caja-turn-2 {
  display: flex;
  justify-content: center;
  /* background-color: rgba(209, 209, 209); */
}

.carusel-dpl- {
  margin-left: 3rem;
}

.card- {
  border: 1px solid rgb(105, 105, 105);
  box-shadow: 1px 1px 10px rgb(206, 132, 132);
  transition: all 400ms ease;
}

footer {
  padding-top: 25px;
  display: block;
}
footer .container-footer {
  background-color: rgba(253, 190, 190, 0.603);
  /*         height: 100%; */
  padding: 50px 20px;
  /*         max-width: none; */
}
footer .container-footer ul {
  display: flex;
}
footer .container-footer ul ol {
  padding: 15px;
  display: math;
}
footer .container-footer ul ol a {
  color: black;
  text-decoration: none;
}

.img-uno-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative;
  background-image: url(/imag-png/depilacion\ laser-chicas.jpg);
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .img-uno-1 {
    background-color: gold;
    padding: 20px 40px;
  }
}

.img-uno-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative;
  background-image: url(/imag-png/depilacion\ laser-chicas.jpg);
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .img-uno-1 {
    background-color: gold;
    padding: 20px 40px;
  }
}
.img-uno-1 h2 {
  padding: 100px;
}
@media only screen and (max-width: 768px) {
  .img-uno-1 h2 {
    background-color: gold;
    padding: 20px 40px;
  }
}
.img-uno-1 h2 .texto-interior {
  font-weight: bold;
  color: black;
  font-size: 2rem;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%;
}

.caja-1 {
  /* background-color: rgb(160, 160, 160); */
}
.caja-1 .caja-conteiner {
  margin-left: 27.5rem;
  max-width: 60%;
  display: flex;
  justify-content: center;
}
.caja-1 .caja-conteiner ul {
  padding: 30px;
}
.caja-1 .caja-conteiner ul li {
  display: flex;
  text-decoration: none;
}
.caja-1 .caja-conteiner ul li a {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.conteiner-listas {
  background-color: rgb(218, 218, 218);
  padding: 20px;
  box-shadow: 1px 1px 10px rgb(206, 132, 132);
  transition: all 400ms ease;
}
.conteiner-listas button {
  background-color: rgb(255, 224, 224);
  border: 1px solid black;
  padding: 5px;
}

.conteiner-listas:hover {
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  transform: translateY(-3%);
}

.conteiner-principal {
  display: flex;
  justify-content: center;
}

.caja {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 35px;
  color: black;
}

.caja-texto {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.conteiner-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.conteiner-flex .wrapper {
  width: 350px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-left: 50px;
}
.conteiner-flex .wrapper .current-date {
  display: flex;
  justify-content: center;
}
.conteiner-flex .wrapper .current-date .parrafo {
  margin-bottom: 0;
  padding-top: 2px;
}

.weeks {
  display: flex;
  justify-content: space-between;
}
.weeks ul {
  display: block;
  text-decoration: none;
}

.day {
  display: flex;
  justify-content: space-between;
}
.day .Jmh1997 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
  color: black;
}
.day .Jmh1997 span {
  display: flex;
  align-items: center;
  margin: 5px;
}

.wrapper .icons {
  background-color: #fff;
}
.wrapper .icons .caja-horario {
  flex-wrap: wrap;
}

.horarios-disponible {
  display: flex;
  padding-top: 25px;
}
.horarios-disponible .hora1 {
  display: flex;
  width: 15%;
  border: 1px solid black;
  margin-left: 30px;
  align-items: center;
}

.img-uno-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative;
  background-image: url(/imag-png/Depilacion-laser\ peierna\ mujer.jpeg);
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .img-uno-1 {
    background-color: gold;
    padding: 20px 40px;
  }
}
.img-uno-1 h2 {
  padding: 100px;
}
@media only screen and (max-width: 768px) {
  .img-uno-1 h2 {
    background-color: gold;
    padding: 20px 40px;
  }
}
.img-uno-1 h2 .texto-interior {
  font-weight: bold;
  color: black;
  font-size: 2rem;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%;
}

.cont-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.formul-principal- {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.formul-principal- .formulario-2 {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  row-gap: 0px;
  column-gap: 0px;
}
.formul-principal- .formulario-2 .datos-4 {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.form- {
  padding-top: 30px;
  word-break: break-word;
  display: flex;
  row-gap: 20px;
  column-gap: 20px;
}

.img-uno-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative;
  background-image: url(/imag-png/depilacion\ laser-chicas.jpg);
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .img-uno-1 {
    background-color: gold;
    padding: 20px 40px;
  }
}
.img-uno-1 h2 {
  padding: 100px;
}
@media only screen and (max-width: 768px) {
  .img-uno-1 h2 {
    background-color: gold;
    padding: 20px 40px;
  }
}
.img-uno-1 h2 .texto-interior {
  font-weight: bold;
  color: black;
  font-size: 2rem;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%;
}

.cont-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.formul-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.formul-principal .formulario-1 {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  row-gap: 24px;
  column-gap: 20px;
}
.formul-principal .formulario-1 .mb-3 {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.form-telef {
  padding-top: 30px;
  word-break: break-word;
  display: flex;
  row-gap: 20px;
  column-gap: 20px;
}

.contenedor-1- {
  display: grid;
  padding-top: 10rem;
}
.contenedor-1- .caja2- {
  display: flex;
  justify-content: center;
}

/* .Div-contenedor {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;

    .login-conteiner-{
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;

        .flex-cont- {
            margin: 0 auto;
            max-width: 800px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



        }

    }
}

.login-conteiner-{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}
.google-botton- {
    width: 100%;
    border: 1px solid black;
    height: 2.5rem;
    margin-right: 2px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
} */

/*# sourceMappingURL=style.css.map */
