

.img-uno-1 {
    @media only screen and (max-width: 768px) {
        background-color: gold;
    padding: 20px 40px;}
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    max-width: 100%;
    position: relative;
    background-image: url(/imag-png/depilacion\ laser-chicas.jpg);
    text-align: center;

    h2{
        @media only screen and (max-width: 768px) {
            background-color: gold;
        padding: 20px 40px;}
        padding: 100px;


        .texto-interior {
            font-weight: bold;
            color: black;
            font-size: 2rem;
            left: 10%;
            position: absolute;
            text-align: center;
            top: 40%;
            width: 80%;
        }

    }

}

.caja-1 {

    .caja-conteiner {
        margin-left: 27.5rem;
        max-width: 60%;
        display: flex;

        ul {
            padding: 30px;

            li {
               display: flex;
                text-decoration: none;
                a {
                    display: flex;
                    text-decoration: none;
                    color: black;
                    font-size: 15px;

                }
            }
        }
    }
}

.conteiner-listas {
    background-color: rgb(218, 218, 218);
    padding: 20px;

    button {
        background-color:blanchedalmond;
        border: 1px solid black;
        padding: 5px;
    }
}