.conteiner-principal {
    display: flex;
    justify-content: center;

    .caja-h2 {
        background-color: gainsboro;
    }
}

.caja{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 35px;
    color: black;
}

.caja-texto {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.conteiner-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .wrapper {
        width: 350px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-left: 50px;

        .current-date {
            display: flex;
            justify-content: center;

            .parrafo {
                margin-bottom: 0;
                padding-top: 2px;
            
            }

         }
    }
}

    .weeks {
        display: flex;
        justify-content: space-between;

        ul {
            display: block;
            text-decoration: none;


        }
    }

.day {
    display: flex;
    justify-content: space-between;

    .Jmh1997 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: .1s;
        transition-timing-function: ease-in-out;
        color: black;

        span {
            display: flex;
            align-items: center;
            margin: 5px;
        }
    }

}

.wrapper {
    

    .icons {
        background-color: #fff;

        .caja-horario {
            flex-wrap: wrap;
        
        }
    }
}


.horarios-disponible {
display: flex;
padding-top: 25px;

    .hora1 {
        display: flex;
        width: 15%;
        border: 1px solid black;
        margin-left: 30px;
        align-items: center;
    }
}

