*{
    background-color: yellowgreen;
}

header {
    

    .nabvar {
        

        ul {
            margin: 80px;
            padding: 50px;
            width: 80px;

            li{
                padding: 50px;
                width: 100%;

                a {


                }
            }
        }
    }
}