* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: rgba(253, 190, 190, 0.603);

    nav {
        display: flex;

        div {

            .container-fluid {
                display: flex;

                .collapse {
                    align-items: center;
                    justify-content: space-around;

                    ul {

                        li {

                            a {

                            }


                        }
                    }
                }
            }
        }
    }
}


.img-uno {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    max-width: 100%;
    position: relative;

    .imag-uno{
        background-image: url(/imag-png/depilacion\ laser-chicas.jpg);
        text-align: center;

    }

}