/* .Div-contenedor {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;

    .login-conteiner-{
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;

        .flex-cont- {
            margin: 0 auto;
            max-width: 800px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



        }

    }
}

.login-conteiner-{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}
.google-botton- {
    width: 100%;
    border: 1px solid black;
    height: 2.5rem;
    margin-right: 2px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
} */

