* {
    margin: 0;
}
.img-uno-1 {
    @media only screen and (max-width: 768px) {
        background-color: gold;
    padding: 20px 40px;}
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    max-width: 100%;
    position: relative;
    background-image: url(/imag-png/depilacion\ laser-chicas.jpg);
    text-align: center;

    h2{
        @media only screen and (max-width: 768px) {
            background-color: gold;
        padding: 20px 40px;}
        padding: 100px;


        .texto-interior {
            font-weight: bold;
            color: black;
            font-size: 2rem;
            left: 10%;
            position: absolute;
            text-align: center;
            top: 40%;
            width: 80%;
        }

    }

}


.caja-grid {
    display: grid;

    .caja-3- {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }
}

.card {
    border: 1px solid rgb(105, 105, 105);
    box-shadow: 1px 1px 10px rgb(206, 132, 132);
    transition: all 400ms ease;
    .btn {
        margin-left: 4.2rem;
    }
}
.card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.8);
    transform: translateY(-3%);
}

.tex-p- {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
    .tex-p-2 {
        max-width: 70%;
    }
}

