
.img-uno-1 {
    @media only screen and (max-width: 768px) {
        background-color: gold;
    padding: 20px 40px;}
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    max-width: 100%;
    position: relative;
    background-image: url(/imag-png/depilacion\ laser-chicas.jpg);
    text-align: center;

    h2{
        @media only screen and (max-width: 768px) {
            background-color: gold;
        padding: 20px 40px;}
        padding: 100px;


        .texto-interior {
            font-weight: bold;
            color: black;
            font-size: 2rem;
            left: 10%;
            position: absolute;
            text-align: center;
            top: 40%;
            width: 80%;
        }

    }

}

h3 {
    color: blue;
    margin: 60px;
}
.texto {
    padding: 3%;
    width: 100%;
    

    .p-1 {
        display: flexbox;
        text-align: center;
        color:black;
        font-size: 1.4rem;
    }
}



.div-titulo {
    padding-left: 70vh;

    
}
.contnd-1 {
    display: flex;
    padding-left: 20rem;


    .contend-2 {
        display: flex;
        width: max-content;

        .lista-ul {
            width: max-content;

            .contend-3 {
                display: flex;
                background-color: rgb(163, 163, 163);
                margin: 30px;
                padding: 30px;
                color: gray;
                width: 110%;
                

                li {
                    display: inline-block;

                    a {
                        color: black;
                        text-decoration: none;
                        display: flex;
    
                    }
                }

            }
        }
    }
}

.button {
    margin-left: 50vh;
    display: block;
}


.content-boton {

    .accordion {
        justify-content: center;
        display: flex;
        .accordion-item{
            .accordion-header{
                margin: 0;
                padding: 0;
                padding-left: 5vh;
    
                .accordion-button{
                    display: flex;
                    width: 50vh;
                    
                    .accordion-collapse{
                        max-width: 50%;
                        .accordion-body {

                         }
                    }
                }
            }
        }
    }
}

.card {
    display: flex;
    margin-left: 15vh;
}

.lista-ordena{
    margin-top: 25px;
    background-color: rgb(219, 219, 219);

    li {
    text-decoration: none;
    display: flex;
         button{
             display: flex;
             justify-content: center;
            border: 0.1px solid black;
                
            }
        }
}

a {
    display: flex;
    color: black;
    text-decoration: none;
    
}

.position-static {
    margin: 50px;
}
.conteiner-img {
    display: block;
    max-width: max-content;
    margin-left: 20vh;
}

.parrafos {
    padding: 0px;
    color: black;
    display: flex;
}
.conteiner-img2 {
    display: block;
    max-width: max-content;
    margin-left: 85rem;
}
.parrafos-img{
    padding-top: 15px;
}
